body {
    font-family: Arial, sans-serif;
    background-color: #9c9c9c;
    color: #1b1b1b;
}

.titulo {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.subtitulo {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

p {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

ul {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    list-style-position: inside;
}

.objetivos-lista, .lista {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

section {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.tecnologias-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    background: #9c9c9c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card:hover {
  transform: translateY(-5px);
}

* {
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .objetivos-lista, .lista {
        flex-direction: column;
        gap: 50%;
    }

    .tecnologias-card {
        flex-direction: column;
        gap: 60%;
    }

    .titulo {
        font-size: 90%;
    }

    .subtitulo {
        font-size: 70%;
    }

    p {
        font-size: 70%;
    }
}


